@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto";
    
}
p{
    color: #ddd;
}

.active{
    background-color: #253247;
    border-color: #387bcd;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}



/* Light Mode */
body {
    background-color:"#8ef28a";
    color: "white";
}

a {
    color: #d3fbd8;
}



a:visited {
    color: #d3fbd8;
    /* Visited link color */
}