@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto";
}

.active{
    background-color: #a3c9f9;
    border-color: #387bcd;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

:root {
    --primary-color: #0D6EFD;
    --secondary-color: #6610F2;
    --background-color: #F8F9FA;
    --dark-background: #1A1A1A;
    --text-dark: #212529;
    --text-light: #E9ECEF;
    --success-color: #28A745;
    --warning-color: #FFC107;
    --danger-color: #DC3545;
}

/* Light Mode */
body {
    background-color: var(--background-color);
    color: var(--text-dark);
}
