.MainNav{
    display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        font-weight: 500;
}
.logo{
    width: 110px;
        height: 40px;
}

.PageList{
    
            display: none;
        }
    
        @media (min-width: 640px) {
            .PageList {
                display: flex;
                gap: 1.25rem;
                /* 5 * 0.25rem */
                font-size: 0.875rem;
                /* 14px */
                color: #4a5568;
                /* text-gray-700 */
            }
        }
