.logo {
    height: 55px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.positioning{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}