.AllPMDiv{
    display: flex;
        flex-direction: row;
        gap: 2rem;
        /* Assuming gap-1 is 4px */
        border-top: 1px solid;
        padding-top: 2.5rem;
}

.forFilter{
    min-width: 15rem;
    flex-shrink: 0;
}

.pText{
    margin-top: 0.5rem;
        /* 8px */
        margin-bottom: 0.5rem;
        /* 8px */
        font-size: 1.25rem;
            /* 20px */
            line-height: 1.75rem;
            /* 28px */
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 0.5rem;
                /* 8px */
}

.categoryFil{
    border-width: 1px;
        border-style: solid;
        border-color: #D1D5DB;
        padding-left: 1.25rem;
        padding-top: 0.75rem;
            /* 12px */
            padding-bottom: 0.75rem;
            margin-top: 1.5rem;
            margin-right: 0;
            width: 100%;
                /* 24px */
}

.catText{
    margin-bottom: 0.75rem;
        /* Equivalent to mb-3 in Tailwind */
        font-size: 0.875rem;
        /* Equivalent to text-sm in Tailwind */
        font-weight: 500;
}

.divInCatText{
    display: flex;
        /* Equivalent to flex in Tailwind */
        flex-direction: column;
        /* Equivalent to flex-col in Tailwind */
        gap: 0.5rem;
        /* Equivalent to gap-2 in Tailwind */
        font-size: 0.9rem;
        /* Equivalent to text-sm in Tailwind */
        font-weight: 700;
        /* Equivalent to font-light in Tailwind */
        color: #c5c9d6;
}

.pInCatText{
    display: flex;
    gap: 0.5rem;
}

.rightDiv{
flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-left: 1rem;
    position: relative;
}

.secRightDiv{
    display: flex;
        justify-content: space-between;
        font-size: 1rem;
        /* Base font size */
        margin-bottom: 1rem;
        /* Base margin bottom */
}

.sortSel{
position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.25rem;
    background-color: #a6abbd;
    font-size: 0.875rem;
    cursor: pointer;
    outline: none;
}

.sortSel:hover {
    border-color: #9CA3AF;
}

.sortSel:focus {
    border-color: #6B7280;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
}

.forProds{
    display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* Two columns by default */
        gap: 1rem;
        /* Horizontal and vertical gap */
        row-gap: 1.5rem;
        /* Vertical gap */

}

@media (min-width: 768px) {
    .forProds {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        /* Three columns for medium screens and up */
    }
}

@media (min-width: 1024px) {
    .forProds {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        /* Four columns for large screens and up */
    }
}