.MainPlaceOrderDiv{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        /* 16px */
        padding-top: 1.25rem;
        /* 20px */
        min-height: 80vh;
        border-top: 1px solid;
        /* Add your desired border color */
}

.POsecDiv{
    display: flex;
        flex-direction: column;
        gap: 1rem;
        /* 16px */
        width: 100%;
}

.leftSideDiv{
    font-size: 1.25rem;
        /* 20px */
        line-height: 1.75rem;
        /* 28px */
        margin-top: 0.75rem;
        /* 12px */
        margin-bottom: 0.75rem;
        /* 12px */
}